::ng-deep .grid-card > .p-component {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: minmax(min-content, max-content) auto;
  grid-template-areas:
    "card-header"
    "card-body";
  height: 100%;
  width: 100%;
}

.grid-card .p-card-header {
  grid-area: card-header;
}

.grid-card .p-card-body {
  grid-area: card-body;
}

::ng-deep .panel-card > .p-component {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

::ng-deep .panel-card .p-card-header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}
